.koumei-select {
  position: relative;
  cursor: pointer;
}
.koumei-select.koumei-select-multiple {
  cursor: text;
  height: initial;
  padding: 0 0 0 12px;
  min-height: 34px;
}
.koumei-select.koumei-select-multiple:before {
  content: " ";
  display: table;
}
.koumei-select.koumei-select-multiple:after {
  content: " ";
  display: table;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.koumei-select.koumei-select-multiple .koumei-select-selection .koumei-select-search {
  height: 25px;
  line-height: 25px;
  margin-top: 4px;
}
.koumei-select-selection {
  list-style: none;
  padding: 0;
}
.koumei-select-selection.koumei-select-tags li.koumei-select-choice {
  position: relative;
  display: block;
  float: left;
  margin: 4px 4px 0 0;
  background-color: #d0d0d0;
  height: 25px;
  max-width: 99%;
  line-height: 25px;
  padding: 0 8px;
  user-select: none;
}
.koumei-select-selection.koumei-select-tags li.koumei-select-choice span {
  padding-right: 16px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.koumei-select-selection.koumei-select-tags li.koumei-select-choice i {
  display: inline;
  cursor: pointer;
  position: absolute;
  right: 4px;
  line-height: inherit;
  padding-left: 8px;
  padding-right: 4px;
}
.koumei-select-selection.koumei-select-tags li.koumei-select-choice i:hover {
  color: #404040;
}
.koumei-select-selection .koumei-select-selected {
  position: absolute;
  left: 12px;
  padding: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 14px;
}
.koumei-select-selection .koumei-select-search {
  display: block;
  float: left;
}
.koumei-select-selection input.koumei-select-search-field {
  height: 100%;
  border-width: 0;
  box-shadow: none;
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABNJREFUeNpi+P//PwMTAxAABBgAF/wDAMEBHdcAAAAASUVORK5CYII=') repeat scroll 0 0;
  outline: none;
  line-height: inherit;
}
.koumei-select-selection li.koumei-select-choice {
  display: none;
}
.koumei-select .koumei-select-arrow {
  position: absolute;
  top: 7px;
  right: 8px;
  line-height: 20px;
}
.koumei-select-dropdown {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.koumei-select-dropdown-menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  max-height: 250px;
}
.koumei-select-dropdown-menu-item {
  position: relative;
  display: block;
  padding: 7px 13px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}
.koumei-select-dropdown-menu-item:focus,
.koumei-select-dropdown-menu-item:hover {
  background: #c7ddef;
}
.koumei-select-dropdown-menu-item:focus i,
.koumei-select-dropdown-menu-item:hover i {
  color: #dddddd;
  display: inline-block;
}
.koumei-select-dropdown-menu-item i {
  display: none;
  position: absolute;
  right: 13px;
  line-height: inherit;
}
.koumei-select-dropdown-menu-item-selected {
  background-color: #eee;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.65);
}
.koumei-select-dropdown-menu-item-selected:hover {
  background-color: #eee;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.65);
}
.koumei-select-dropdown-menu-item-selected i {
  color: #337ab7;
  display: inline-block;
}
.koumei-select-dropdown-menu-item-disabled,
.koumei-select-dropdown-menu-item-disabled:hover {
  background-color: inherit;
  color: #b3b3b3;
  cursor: not-allowed;
}
.koumei-calendar table {
  width: 100%;
  max-width: 100%;
}
.koumei-calendar-column-header {
  line-height: 18px;
  width: 33px;
  padding: 6px 0;
  text-align: center;
}
.koumei-calendar-cell {
  padding: 4px 0;
}
.koumei-calendar-prev-month-cell .koumei-calendar-date,
.koumei-calendar-next-month-cell .koumei-calendar-date {
  color: #b3b3b3;
}
.koumei-calendar-today .koumei-calendar-date {
  border-color: #337ab7;
  font-weight: 700;
  color: #337ab7;
}
.koumei-calendar-selected-day .koumei-calendar-date {
  background: #337ab7;
  color: #fff;
  border: 1px solid transparent;
}
.koumei-calendar-selected-day .koumei-calendar-date:hover {
  background: #337ab7;
}
.koumei-calendar-disabled-cell .koumei-calendar-date {
  cursor: not-allowed;
  color: #b3b3b3;
  background: #eeeeee;
  border-radius: 0;
  width: auto;
  border: 1px solid transparent;
}
.koumei-calendar-disabled-cell .koumei-calendar-date:hover {
  background: #eeeeee;
}
.koumei-calendar-date {
  display: block;
  margin: 0 auto;
  color: #333333;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  line-height: 18px;
  border: 1px solid transparent;
  padding: 0;
  background: transparent;
  text-align: center;
  cursor: pointer;
}
.koumei-calendar-date:hover {
  background: #c7ddef;
}
.koumei-calendar-year-view {
  table-layout: fixed;
  text-align: center;
}
.koumei-calendar-year-view .koumei-calendar-cell {
  padding: 20px 0;
}
.koumei-calendar-year-view .koumei-calendar-date {
  width: auto;
  display: inline-block;
  padding: 0 6px;
  white-space: nowrap;
}
.koumei-checkbox {
  display: inline;
  padding-left: 0;
}
.koumei-checkbox label {
  font-weight: 400;
  font-size: 13px;
  vertical-align: middle;
}
.koumei-checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  left: -9999px;
  z-index: 12;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.koumei-checkbox input[type=checkbox]:checked,
.koumei-checkbox input[type=checkbox]:focus {
  outline: 0!important;
}
.koumei-checkbox input[type=checkbox] + .text {
  position: relative;
  z-index: 11;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: 400;
}
.koumei-checkbox input[type="checkbox"]:checked + .text::before {
  display: inline-block;
  content: "\F00C";
  background-color: #f5f8fc;
  border-color: #333333;
}
.koumei-checkbox input[type="checkbox"] + .text::before {
  font-family: fontAwesome;
  font-weight: 700;
  font-size: 13px;
  color: #333333;
  content: " ";
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 18px;
  line-height: 16px;
  min-width: 18px;
  margin-right: 5px;
  margin-bottom: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #c8c8c8;
  border-image: initial;
  border-radius: 0px;
  transition: all 0.3s ease;
}
.koumei-checkbox label.koumei-checkbox-inner {
  padding-left: 0;
}
.koumei-menu {
  min-height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border-right: 1px solid #e9e9e9;
  color: #333333;
}
.koumei-menu a {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}
.koumei-menu-item {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  position: relative;
}
.koumei-menu-item > a > i:first-child {
  min-width: 14px;
  margin-right: 8px;
}
.koumei-menu-item > a > i.koumei-menu-caret {
  display: none;
}
.koumei-menu-item a {
  display: block;
}
.koumei-menu-item a:hover {
  color: #337ab7;
}
.koumei-menu-item-selected {
  background-color: #eff5fb;
}
.koumei-menu-item-selected a {
  color: #337ab7;
}
.koumei-menu-item-selected:after {
  content: "";
  border-right: 3px solid #337ab7;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.koumei-menu-submenu {
  position: relative;
  height: auto;
  line-height: 40px;
  cursor: pointer;
}
.koumei-menu-submenu > a > i:first-child {
  min-width: 14px;
  margin-right: 8px;
}
.koumei-menu-submenu > a > i.koumei-menu-caret {
  display: none;
}
.koumei-menu-submenu > a {
  display: block;
}
.koumei-menu-submenu > a:hover {
  color: #337ab7;
}
.koumei-menu-submenu > a i.koumei-menu-caret.fa {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 16px;
  line-height: inherit;
}
.koumei-menu .koumei-menu {
  border-right: 0;
  display: none;
}
.koumei-menu-open > .koumei-menu {
  display: block;
}
.koumei-loading-mask {
  position: absolute;
  background: #ffffff;
  filter: alpha(opacity=90);
  opacity: .9;
  color: #000000;
  text-align: center;
  z-index: 300;
}
.koumei-upload-container input {
  position: absolute;
  clip: rect(0 0 0 0);
  outline: none;
}
.koumei-upload-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.koumei-upload-list li {
  margin: 8px 0;
  line-height: 24px;
  position: relative;
  width: 500px;
}
.koumei-upload-list li .koumei-upload-btn-close {
  cursor: pointer;
  display: none;
}
.koumei-upload-list li .koumei-upload-list-progress {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
.koumei-upload-list li.text-danger .koumei-upload-btn-close {
  display: inline-block;
}
.koumei-upload-list li:hover .koumei-upload-list-progress {
  right: 10px;
}
.koumei-upload-list li:hover i.koumei-upload-btn-close {
  display: inline-block;
}
.koumei-upload-list li:hover i.text-success {
  display: none;
}
.koumei-upload-list li i {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 24px;
}
.koumei-upload-list li span {
  display: inline-block;
}
.koumei-upload-list-info {
  display: inline-block;
}
.koumei-upload-list-info i {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 24px;
}
.koumei-upload-list-info span {
  position: absolute;
  left: 18px;
  top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 350px;
}
.koumei-upload-card-wall {
  display: inline-block;
}
.koumei-upload-card-item {
  height: 96px;
  width: 96px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #f5f5f5;
  display: inline-block;
  text-align: center;
  word-wrap: break-word;
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  padding: 8px;
  position: relative;
}
.koumei-upload-card-item .koumei-upload-card-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -7px;
}
.koumei-upload-card-item img {
  height: 100%;
  width: 100%;
}
.koumei-upload-card-item .koumei-upload-card-tool {
  display: none;
}
.koumei-upload-card-item .koumei-upload-card-tool .fa {
  margin: 0 4px;
  color: #ffffff;
  cursor: pointer;
}
.koumei-upload-card-item:hover .koumei-upload-card-tool {
  display: block;
  position: absolute;
  width: 78px;
  height: 78px;
  left: 8px;
  top: 8px;
  padding: 30px 0;
  /* 支持IE8的透明背景 */
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACAQMAAACjTyRkAAAAA1BMVEUAAACnej3aAAAAAXRSTlO7HFWyYgAAAAxJREFUeNpjYGBgAAAABAAByOrr+QAAAABJRU5ErkJggg==") repeat scroll 0 0;
}
.koumei-upload-select-card {
  padding: 20px 0;
  border-style: dashed;
  cursor: pointer;
}
.koumei-upload-select-card:hover {
  border-color: #337ab7;
}
.koumei-upload-select-card .fa {
  display: block;
  font-size: 2em;
}
@media (min-width: 768px) {
  .form-inline .koumei-datepicker {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
.koumei-datepicker {
  position: relative;
}
.koumei-datepicker-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -7px;
}
.koumei-datepicker-clear {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -7px;
  padding: 1px;
  cursor: pointer;
  display: none;
  background: #fff;
}
.koumei-datepicker:hover .koumei-datepicker-clear {
  display: inline-block;
}
.koumei-datepicker .koumei-datepicker-input {
  background-color: #fff;
}
.koumei-datepicker-panel-container {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  user-select: none;
}
.koumei-datepicker-panel {
  width: 252px;
}
.koumei-datepicker-panel a {
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;
}
.koumei-datepicker-panel a:hover {
  color: #23527c;
}
.koumei-datepicker-panel-header {
  text-align: center;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #eeeeee;
}
.koumei-datepicker-panel .koumei-datepicker-prev-year-btn {
  float: left;
  margin-left: 7px;
  padding: 0 5px;
  font-size: 16px;
}
.koumei-datepicker-panel .koumei-datepicker-prev-month-btn {
  float: left;
  margin-left: 7px;
  padding: 0 5px;
  font-size: 16px;
}
.koumei-datepicker-panel .koumei-datepicker-next-year-btn {
  float: right;
  margin-right: 7px;
  padding: 0 5px;
  font-size: 16px;
}
.koumei-datepicker-panel .koumei-datepicker-next-month-btn {
  float: right;
  margin-right: 7px;
  padding: 0 5px;
  font-size: 16px;
}
.koumei-datepicker-panel .koumei-datepicker-month-select {
  padding: 0 2px;
  font-weight: 700;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
  line-height: 34px;
}
.koumei-datepicker-panel .koumei-datepicker-year-select {
  padding: 0 2px;
  font-weight: 700;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
  line-height: 34px;
}
.koumei-datepicker-panel-today-btn {
  display: inline-block;
  text-align: center;
  margin: 0 0 0 8px;
}
.koumei-datepicker-panel-now-btn {
  display: inline-block;
  text-align: center;
  float: left;
  margin: 0;
  padding-left: 12px;
}
.koumei-datepicker-panel-timepicker-btn {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  float: right;
}
.koumei-datepicker-panel .koumei-datepicker-panel-ok-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  float: right;
  margin-right: 9px;
}
.koumei-datepicker-panel .koumei-datepicker-panel-ok-btn:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.koumei-datepicker-panel-body {
  padding: 4px 8px;
}
.koumei-datepicker-panel-footer-btn {
  border-top: 1px solid #eeeeee;
  text-align: center;
  display: block;
  line-height: 1.5;
  padding: 10px 0;
}
.koumei-datepicker-panel-footer-btn:after {
  clear: both;
  content: ' ';
  display: inline-block;
}
.form-inline .koumei-timepicker {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.koumei-timepicker {
  position: relative;
}
.koumei-timepicker-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -7px;
}
.koumei-timepicker-clear {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -7px;
  padding: 1px;
  cursor: pointer;
  display: none;
  background: #fff;
}
.koumei-timepicker:hover .koumei-timepicker-clear {
  display: inline-block;
}
.koumei-timepicker .koumei-timepicker-input {
  background-color: #fff;
}
.koumei-timepicker-panel-container {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  user-select: none;
}
.koumei-timepicker-panel {
  width: 252px;
}
.koumei-timepicker-view {
  height: 198px;
}
.koumei-timepicker-view-combobox {
  width: 100%;
}
.koumei-timepicker-view-select {
  display: inline-block;
  width: 33.33%;
  border-left: 1px solid #eeeeee;
  float: left;
  overflow: hidden;
}
.koumei-timepicker-view-select:first-child {
  border-left: none;
}
.koumei-timepicker-view-select:hover {
  overflow: auto;
}
.koumei-timepicker-view-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 200px;
}
.koumei-timepicker-view-select ul:after {
  content: "";
  display: block;
  height: 176px;
}
.koumei-timepicker-view-select li {
  text-align: center;
  list-style: none;
  box-sizing: content-box;
  margin: 0;
  width: 100%;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}
.koumei-timepicker-view-select li:hover {
  background: #c7ddef;
}
.koumei-timepicker-view-select .koumei-timepicker-view-select-option-selected {
  background: #337ab7;
  font-weight: 700;
  color: #fff;
}
.koumei-timepicker-view-select .koumei-timepicker-view-select-option-selected:hover {
  background: #337ab7;
}
.koumei-radio {
  display: inline;
  padding-left: 0;
}
.koumei-radio label {
  font-weight: 400;
  font-size: 13px;
  vertical-align: middle;
}
.koumei-radio input[type=radio] {
  opacity: 0;
  position: absolute;
  left: -9999px;
  z-index: 12;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.koumei-radio input[type=radio]:checked,
.koumei-radio input[type=radio]:focus {
  outline: 0!important;
}
.koumei-radio input[type=radio] + .text {
  position: relative;
  z-index: 11;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: 400;
}
.koumei-radio input[type="radio"]:checked + .text::before {
  display: inline-block;
  content: "\F111";
  background-color: #f5f8fc;
  border-color: #333333;
}
.koumei-radio input[type="radio"] + .text::before {
  font-family: fontAwesome;
  font-weight: 700;
  font-size: 13px;
  color: #333333;
  content: " ";
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 18px;
  line-height: 16px;
  min-width: 18px;
  margin-right: 5px;
  margin-bottom: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #c8c8c8;
  border-image: initial;
  border-radius: 0px;
  transition: all 0.3s ease;
}
.koumei-radio input[type=radio] + .text:before {
  border-radius: 100%;
  font-size: 10px;
  font-family: FontAwesome;
  line-height: 17px;
  height: 19px;
  min-width: 19px;
}
.koumei-radio label.koumei-radio-inner {
  padding-left: 0;
}
xmp {
  display: none;
}
body {
  background-color: #f2f4f6;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 224px;
  right: 0;
  z-index: -1;
  background-color: #f2f4f6;
}
.koumei-layout {
  height: 100%;
  background: #f2f4f6;
  position: relative;
}
.koumei-layout-sider {
  float: left;
  width: 224px;
  height: 100%;
  top: 20px;
  bottom: 20px;
  left: 20px;
  background: #fff;
}
.koumei-layout-sider:after {
  content: "";
  display: block;
  height: 60px;
}
.koumei-layout-fixed-sider {
  height: auto;
  position: fixed;
  border-bottom: solid 55px #fff;
}
.koumei-layout-fixed-sider .koumei-layout-sider-inner {
  height: 100%;
  overflow: auto;
  border-bottom: solid 0 #fff;
  margin-top: 65px;
}
.koumei-layout-header {
  height: 65px;
  background: #2f90ea;
  padding: 15px;
}
.koumei-layout-header .logo-text {
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: #fff;
}
.koumei-layout-fixed-header {
  position: fixed;
  width: 100%;
  z-index: 900;
}
.koumei-layout-fixed-header ~ .koumei-layout > .koumei-layout-fixed-sider,
.koumei-layout-fixed-header ~ .koumei-layout-fixed-sider {
  border-bottom-width: 0;
}
.koumei-layout-fixed-header ~ .koumei-layout > .koumei-layout-sider,
.koumei-layout-fixed-header ~ .koumei-layout-sider {
  margin-top: 65px;
}
.koumei-layout-fixed-header ~ .koumei-layout > .koumei-layout-sider > .koumei-layout-sider-inner,
.koumei-layout-fixed-header ~ .koumei-layout-sider > .koumei-layout-sider-inner {
  margin-top: 0;
}
.koumei-layout-fixed-header ~ .koumei-layout > .koumei-layout-content,
.koumei-layout-fixed-header ~ .koumei-layout-content {
  padding-top: 65px;
}
.koumei-layout-content {
  margin-left: 224px;
  background-color: inherit;
}
.koumei-layout-content:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 224px;
  right: 0;
  z-index: -1;
}
.koumei-layout-content-wrapper {
  margin: 0 26px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
}
.koumei-layout-footer {
  width: 100%;
  height: 55px;
  background: #fff;
  bottom: 0;
  padding: 15px;
}
.koumei-layout-footer a {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #000;
}
.koumei-layout-fixed-footer {
  position: fixed;
  z-index: 200;
}
.koumei-layout-fixed-footer ~ .koumei-layout > .koumei-layout-sider > .koumei-layout-sider-inner,
.koumei-layout-fixed-footer ~ .koumei-layout-sider > .koumei-layout-sider-inner {
  border-bottom-width: 55px;
}
.koumei-layout-fixed-footer ~ .koumei-layout > .koumei-layout-content,
.koumei-layout-fixed-footer ~ .koumei-layout-content {
  padding-bottom: 55px;
}
.koumei-tree {
  list-style: none;
  padding-left: 30px;
}
.koumei-tree-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.koumei-tree li {
  padding: 4px 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJidW5kbGU3ODZjMGZkMDE2MGZjODdjOGZhMy5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/